/* PHASE 1: Header */

body {

  background: #eee;
  font-size: 16px;
  font-weight: 400;
  font-family: sans-serif;
}

.header {


  color: #fff;
  border-bottom: 1px solid #ccc;
  background: #f00;

}

.header a {

}

.header-nav {

}



/*
Black: #000
White: #fff
Dark Gray: #aaa
Gray: #ccc
Light Gray: #eee
Red: #f00

Font Family: sans-serif
Font Weights: 400, 700
Font Sizes: 24px, 16px, 14px

Thickness: 1px
Layout

Whitespace: 5px, 10px, 20px
Total Size Container: 900px
Total Size Sidebar: 240px
Total Size Content: 660px
*/
